.App {
  text-align: center;
  font-family: 'PostNoBillsColombo';
}

.edit {
  font-size: 2.5em;
  overflow: hidden;
}

.edit:focus {
  outline: none;
}

.edit.small {
  font-size: 1em;
}

.edit .drag {
  opacity: 0;
  float: left;
  font-size: 0.6em;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.edit .react-resizable-handle {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.edit:hover .drag,
.edit:hover .react-resizable-handle {
  opacity: 1;
}
