html {
  font-family: 'Maname', serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Maname', serif;
}

.layout {
  margin: 50px;
  margin-top: 10px;
}

.font-details {
  padding: 23px;
}

.font-title {
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 0;
}

.font-meta {
  display: block;
  font-size: 0.8em;
}

.edit {
  overflow: hidden;
  padding: 10px;
}

.edit:focus {
  outline: none;
}

.edit.small {
  font-size: 1em;
}

.edit .drag {
  position: absolute;
  opacity: 0;
  float: left;
  font-size: 0.7em !important;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.block-controls {
  float: right;
  width: 100%;
  text-align: right;
  font-size: 0.7em;
  position: absolute;
}

.controls {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px;
}

.control-label {
  float: left;
  display: block;
}

.rc-slider {
  display: inline-block;
}

.edit .react-resizable-handle, .block-controls, .controls {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.block-controls:hover .controls {
  opacity: 1;
}

.edit:hover .drag, .edit:hover .react-resizable-handle, .edit:hover .block-controls {
  opacity: 1;
}

.rc-slider-track {
  background-color: #111;
}

.rc-slider-handle {
  border-color: rgb(17, 17, 17);
}

.rc-slider-handle:hover {
  border-color: #cfcfcf;
}

.section-title {
  margin-bottom: 0;
  font-weight: 300;
}

.title-meta {
  font-size: 1.5em;
  margin-bottom: 2em;
  display: block;
}

.text {
  line-height: 1.7em;
  font-size: 1em;
}

.pulledquote {
  line-height: 1.5em;
  display: block;
  float: right;
  padding: 0 0 0 10px;
  margin: 0 0 10px 10px;
  width: 45%;
  font-size: 1.4em;
  margin-right: 35px;
  text-align: left;
}
