@font-face {
  font-family: 'PostNoBillsColombo';
  src: url('../fonts/PostNoBillsJaffna-ExtraBold.ttf') format('ttf');
  font-weight: regular;
  font-style: regular;
}
/*@font-face {
  font-family: 'ProximaNova';
  src: url('/fonts/proximanova-bold-webfont.woff2') format('woff2'), url('/fonts/proximanova-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}*/
